
<style>
* {
  box-sizing: border-box;
}



.header {
  text-align: center;
  padding: 32px;
}

.row1 {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
  overflow-x: hidden;
  margin-top: 10px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  vertical-align: middle;
  width: 100%;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  
}
.dlabel{
   text-align: center;
   position: absolute;
      
}
 
.container {
  margin-top: 10px;
  padding: 0;
  position: relative;
  color: white;

}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   -webkit-text-stroke: 0.1px black;
  font-size: 15pt; 
}


.imgblur{
  position: absolute;
  padding: 0; 
  background-color: #2e2e2e; 
  left: 0;
  width: 100%; 
  height: 100%;
  opacity: 0.5;
}
@media (max-width:480px){
.gimg{
  width: 100%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   -webkit-text-stroke: 0.1px black;
  font-size: 15pt; 
}

  }

@media (min-width:481px){
.gimg{
  height: 50%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   -webkit-text-stroke: 0.1px black;
  font-size: 30pt; 
}

  }

</style>


<h1>Destinations</h1>
<!-- Photo Grid -->
<div class="row1" > 
  <div class="column">
      <div class="container">
        <div class="imgblur"></div>
         <img class="gimg" src="/Shan.jpg">
        <div class=" centered">ရှမ်းပြည်နယ်</div> 
      </div>
      <div class="container">
        <div class="imgblur"></div>
         <img class="gimg" src="/pyinoolwin.jpg">
        <div class="centered">ပြင်ဦးလွင်</div> 
      </div>
      <div class="container">
      <div class="imgblur"></div>
         <img class="gimg" src="/tangoo.jpg">
        <div class="centered">တောင်ငူ</div> 
      </div>
  </div>
 
 
  <div class="column">
     <div class="container">
      <div class="imgblur"></div>
       <img class="gimg" src="/ygn.jpg">
        <div class="centered">ရန်ကုန်</div> 
      </div>
        <div class="container disbg">
      <div class="imgblur"></div>
       <img class="gimg" src="/bagan.jpg">
        <div class="centered">ပုဂံ</div> 
      </div>
        <div class="container disbg">
      <div class="imgblur"></div>
         <img class="gimg" src="/chaungthar.jpg">
        <div class="centered">ချောင်းသာ</div> 
      </div>

  </div>
  
  
</div>

<script>
// Get the elements with class="column"

</script>



